
<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="vue.mini.js"> </script> 

<style>
.textWidth{
  width: 600px;
  border-radius: 5px;
  height: 35px;
}
.taskDone{
  text-decoration: line-through;
  color: red;
}
.input1{
  display: none;
}

</style>
<body style="background-color:#61966F;color:white">
<br/>
<div id="app">
<button v-on:click="clickedButton($event)">Click Here!</button>
</div>
<br/>
<form>

</form>


 <div class="container col-sm-8 col-sm-offset-2">
<div id="taskApp">
<div id="app">
  <p > I am Text</p>
  <!-- <p v-show="!myText"> I am Not Text</p> -->
  <button v-on:click="myText = !myText"> Change </button>
     <div class="row" >
    <div class="col-sm-4 col-sm-offset- float:left" id="app" style="background-color:#C9302C;" >
      <label for="chnge">Change Todo Title Name </label>
      <input type="text" id="men" v-show="myText" style="color:black;" placeholder="change todo tittle" class="form-control" v-model="message" style="margin-bottom:10px;">
    </div>&nbsp;

    <div class="col-sm-8" style="background-color:#C9302C" >
      <input type="checkBox" value="Display" v-on:click="myText = !myText" v-show="set"> <span v-show="set">Display Input </span>&nbsp; &nbsp;
      <input type="checkBox" value="Display" v-on:click="tab = !tab" v-show="set">  <span v-show="set">Display Task List </span>&nbsp; &nbsp;
      <input type="checkBox" value="Display" v-on:click="del = !del" v-show="set">  <span v-show="set">Display Delete Botton </span>&nbsp; &nbsp;
      <input type="checkBox" value="Display" v-on:click="set = !set" style="position:relative"> Hide Settings  &nbsp; &nbsp;
    </div>
 </div> 

  <h2>{{ message }}</h2>
</div>



<div class="panel panel-default" style="background-color:#C9302C">
<h2 class="text-center"> Add New Item </h2>
<form v-on:submit="addTask">
<div class="col-sm-8">
  <input type="text"  style="color:black;" class="from-control textWidth" v-show="myText" v-model='tasks.name'  >
</div>
<div class="col-sm-4">
<input type="submit" value="Add"  id ="clr" class="btn btn-primary btn-block">
</div>
</form>
&nbsp;
  </div>
<table class="table" v-show="tab">
<thead>
  <th>Checkmark Done </th>
   <th> Rename Task</th>
  <th> Task Name</th>
  <th> Delete</th>
</thead>

<tbody>
<tr v-for="task in tasks">
<td> <input type="checkbox" v-model="task.done"></td>
<td> <span :class="{ taskDone: task.done }"> <input type="text" v-show="myText" class="form-control" v-model="task.name" style="width:180px;"></span> </td>

<td> <span :class="{ taskDone: task.done }">{{ task.name }} </span></td>
<td><input type="button" value="Delete" class="btn btn-danger btn-block" v-show="del" v-on:click="deleteTask(task)"> </td>
</tr>
  </tbody>
  </table>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-4">
  <div class="width:60px;">
<button > 1 </button>
<button> 2 </button>
<button> 3 </button>
<button> 4 </button>
<button> 5 </button>
<button> 6 </button>
<button> 7 </button>
<button> 8 </button>
<button> 9 </button>

<button> 0 </button>
<button> 1 </button>
<button> 1 </button>
<button> 1 </button>
</div>
</div>
</div>
  </body> 
    <script>

var taskApp = new Vue({
el: '#taskApp',
data: {
  message: 'Todo task List App',
  myText: true,
  tab: false,
  del: true,
  set: false,
  
tasks: [
{name:'Wake up', done: false},
{name:'Go to School', done: false},
{name:'Read Your Book', done: false},
]
},
methods:{
  addTask: function(e) {
    e.preventDefault();
    this.tasks.push({
      name: this.tasks.name,

      done: false,
      
    });
    alert("saved");
  },
  deleteTask: function(task){
this.tasks.splice(this.tasks.indexOf(task), 1)
alert(task.name + " Deleted Permanently");
  }
}



});

  </script>
  <script src="vue.mini.js"> </script> 
</html>


























  
</body>
<script src="js\jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js\bootstrap.min.js"></script>